extends layout

block content
	.text#about
		h2 Web Sitesi hakkında

	.text#ref
		h2 Kaynakça

		p.
			Linard, Catherine, et al. “Population Distribution, Settlement Patterns and Accessibility across Africa in 2010.” PLoS ONE, vol. 7, no. 2, 2012, #[a(href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0031743") #{"doi:10.1371/journal.pone.0031743."}]

		p.
			“Glossary:Population Change.” Glossary:Population Change - Statistics Explained, Eurostat, 10 Dec. 2014, #[a(href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Population_change") #{"ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Population_change"} ].

	.text#tech
		h2 Teknik detaylar

