extends layout

block content
	.text#ref
		h2 Kaynakça

		p.
			Linard, Catherine, et al. “Population Distribution, Settlement Patterns and Accessibility across Africa in 2010.” PLoS ONE, vol. 7, no. 2, 2012, #[a(href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0031743") #{"doi:10.1371/journal.pone.0031743."}]

		p.
			“Glossary:Population Change.” Glossary:Population Change - Statistics Explained, Eurostat, 10 Dec. 2014, #[a(href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Population_change") #{"ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Population_change"} ].

	.text#tech
		h2 Teknik detaylar	
		p.
			Bu web sitesi, Node.js Electron server uygulaması kullanılarak Jade (Pug) ve CSS teknolojileriyle yaratılmıştır. Web sitesinin içeriği Creative Commons Attribution 4.0 International lisansına, web server uyuglaması ise MIT lisansına tabidir.
			Web sitesinin ana kodu ve içerikleri #[a(href="https://github.com/oralekin/cografya-nufus") GitHub sayfasında bulunabilir].
		p.
			Uygulama şuan Heroku Node.js hosting üzerinde çalışmaktadır, ancak ileride cografya.oralek.in/ üzerinden kullanıma açılması planlanmaktadır.
