extends layout

block content
  .text#def
    img(src="/images/pop-increase.jpg", alt="An abstract visual depicting population growth").inline-img.right
    h2 Nüfusta artma/azalma nedir?
    p Nüfus artışı ve azalması, belli bir alandaki nüfus miktarının bir yıl boyunca değişimidir. Nüfusta değişiklik, iki ana nedenle oluşur: #[a(href="#nat") Doğal nüfus değişimleri] ve #[a(href="#imm") göçler]

    .text#nat
      h3 Doğal nüfus değişimi

      p.
        Doğal nüfus değişimi, doğum ve ölümler sonucu oluşan artış ve azalmalara denir.
        Bir bölge veya ülkedeki doğal nüfus değişimi, oradaki
        sağlık imkanları, nüfus planlamaları ve doğum oranına bağlıdır.
        Bu nedenle, bir ülkenin doğal nüfus artışına neden olan unsurlara bakılarak o ülkenin
        gelişmişlik seviyesi anlaşılabilir.

      // doğum oranları = gelişmişlik, ölüm oranları not


      p.
        Geri kalmış ülkelerde,
        doğum oranları da, ölüm oranları da yüksektir. Gelişmiş ülkelerde ise,
        sağlık imkanları iyi olduğundan ölüm oranları düşüktür ve
        nüfus planlamaları nedeniyle doğum oranları nüfusun yaş dağılımını bozmaz.
        Örnek olarak Afganistan ve Almanya'nın doğum/ölüm oranlarını karşılaştırırsak,
        Afganistan'ın doğum ve ölüm oranlarının oldukça yüksek olduğunu görebiliriz.
        Almanya'nın ise ölüm ve doğum oranları birbirine çok yakındır.
        Almanya'nın doğum oranının ölüm oranından alçak olması ise,
        gelişmişlik dolayısıyla insanların çocuk sahibi olmak
        istemeyebileceklerini gösteriyor.

      table.data
        tr
          th Ülke
          th Doğum oranı
          th Bebek ölüm oranı
          th Ölüm oranı
        tr
          td Almanya
          td 8.6 doğum/1,000 kişi
          td 3.4 ölüm/1,000 doğum
          td 11.7 ölüm/1,000 kişi
        tr
          td Afganistan
          td 37.9 doğum/1,000 kişi
          td 110.6 ölüm/1,000 doğum
          td 13.4 ölüm/1,000 kişi
      p Bu veriler #[a(href="https://www.indexmundi.com") indexmundi] aracılığıyla #[a(href="https://www.cia.gov/library/publications/the-world-factbook/") CIA veritabanından] alınmıştır

    .text#imm
      h3 Göçler
      p.
        Göç, insanların bir yerden başka bir yere hareket etmesidir.
        Turizm, doğal afetler ve iş imkanları gibi bir çok nedenden gerçekleşebilir.
        Göçler 
      img(src="/images/immigration-myths.jpg", alt="").inline-img.right