extends layout

block content
    .text#why
        h2 Nüfus nelere göre dağılır?
        p.
            
    .text#low
        h2 Nüfusun az olduğu yerler
    .text#high
        h2 Nüfusun çok olduğu yerler