extends layout

block content
  .banner#banner
    h1 Nüfus ile ilgili Bilgiler
  div.main-text
    .text#info
      h2 Nüfus Nedir?
      p.
        Nüfus, bir bölgedeki canlı sayısına denir. Coğrafya biliminde ise nüfus, bir bölgedeki insan sayısına ve bu insanların özelliklerine denir. Nüfus kelimesi #[a(href="http://www.tdk.gov.tr/index.php") TDK tarafından] şöyle tanımlanmaktadır:
      .tanim
        p.
          "Bir ülkede, bir bölgede, bir evde belirli bir anda yaşayanların oluşturduğu toplam sayı, popülasyon"
      br
      p.
        Popüler bir kaynak olan Encyclopedia Brittanica'nın nüfus üzerine detaylı makalesinde ise kavram şu şekilde tanımlanmıştır:
      .tanim
        p.
          İnsan biyolojisinde nüfus, (Dünya veya bir ülke gibi) bir alanı kaplayan tüm bireylerin (doğum ve göçler ile) artış veya (ölümler ve göçler ile) azalış gösteren sayısı.
        a.dipnot (İngilizceden çevrildi)

      p Britannica'nın da bahsettiği üzere, nüfus, insanların değişen sayısıdır. Nüfusu incelerken, değişim gözardı edilemez bir gerçektir, nüfus analizleri ise durağan veriler değil zamanla gerçekleşen değişimler üzerinden yapılır.

      h3 Nüfus Sayımı
      p Nüfus sayımları, devletler tarafından ülkelerin nüfusunu belirlemek için yapılan sayımlardır. Bu sayımlarda nüfus sayısı yanında nüfusun eğitim seviyesi, dağılımı ve yaş özellikleri de belirlenir

      p Ülkemizde nüfus sayımları, Türkiye İstatistik Kurumu (TÜİK) tarafından periyodik olarak yapılmaktadır.




