extends layout

block content
    .text#info
      h2 Nüfus Nedir?
      p.
        Nüfus, bir bölgedeki canlı sayısına denir. Coğrafya biliminde ise nüfus, bir bölgedeki insan sayısına ve bu insanların özelliklerine denir. Nüfus kelimesi #[a(href="http://www.tdk.gov.tr/index.php") TDK tarafından] şöyle tanımlanmaktadır:
      .tanim
        p.
          "Bir ülkede, bir bölgede, bir evde belirli bir anda yaşayanların oluşturduğu toplam sayı, popülasyon"
      br
      p Popüler bir kaynak olan
        a(href="https://www.britannica.com/science/population-biology-and-anthropology") Encyclopedia Brittanica'nın nüfus üzerine detaylı makalesinde
        span ise kavram şu şekilde tanımlanmıştır:
      .tanim
        p.
          İnsan biyolojisinde nüfus, (Dünya veya bir ülke gibi) bir alanı kaplayan tüm bireylerin (doğum ve göçler ile) artış veya (ölümler ve göçler ile) azalış gösteren sayısı.
        a.dipnot (İngilizceden çevrildi)

      p Britannica'nın da bahsettiği üzere, nüfus, insanların değişen sayısıdır. Nüfusu incelerken, değişim gözardı edilemez bir gerçektir, nüfus analizleri ise durağan veriler değil zamanla gerçekleşen değişimler üzerinden yapılır.

    .text#inc
      h2 Nüfus Artışı ve Azalışı Nedir?
      p.
        Nüfus artışı ve azalışı, nüfusun değişimine denir. Encyclopedia Brittanica'ya göre nüfus kavramı, nüfus artış
        ve azalışından ayrı şekilde bulunamaz. Nüfus artışı,
        #[a(href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Population_change") Avrupa Birliği]
        İstatistik Ofisi'nin web sitesinde böyle tanımlanıyor:
      .tanim
        p.
          Nüfus değişikliği, genel olarak tanımlanması gerekirse, bir nüfusun, bir zaman diliminin başı ve sonundaki büyüklüklerinin farkıdır. Özellikle iki ardışık yılın 1 Ocak'ları arasındaki nüfus farkıdır.
        a.dipnot (İngilizceden çevrildi)

    div.see-more#cmore-inc
      a(href="/change") Daha fazla okuyun
    
    br

    .text#dist
      h2 Nüfus Dağılımı Nedir?
      p.
        Nüfus dağılışı, toplum hizmetlerinin yer seçimini etkileyen, nüfusun mekansal dağılışıdır. Nüfus dağılışı ülkelerarası, bölgelerarası, iller-arası hatta ilçeler-arası olabilir. Nüfus dağılışının önemini, Avrupalı birkaç bilim insanının Afrika'daki dağılımla ilgili makalelerinin şu cümlesinden anlayabiliriz:
      .tanim
        p Nüfus ve yerleşimlerin bir ülke içindeki alansal dağılımı ve bunların bağlanmışlıkları ve şehir alanlarından ulaşılabilirlikleri, sağlık hizmetlerinin sağlanması, kaynakların dağıtılması ve ekonomik gelişme açısından önemlidir.
        a.dipnot (İngilizceden çevrildi)
    div.see-more#cmore-dist
      a(href="/distribution") Daha fazla okuyun

    br

    .text#about
      h2 Web sitesi hakkında ve kaynakça
      p.
        Bu web sitesi, 10. sınıf Coğrafya dönem ödevi kapsamında hazırlanmıştır. Ödev, kaynakça veya sitenin teknik detaylarıyla ilgili bilgi için aşağıdaki oku takip ediniz.
    div(style="height: fit-content; width: 100%")
      div.see-more#cmore-about
        a(href="/about") Daha fazla okuyun