<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nüfus Hakkında Bilgiler</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="icon_population-02.png">
    <script>
        $(document).ready(function(){
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
</head>
<body>
<ul class="navbar">
    <li><a href="#banner"> Başlangıç </a> </li>
    <li><a href="#info"> Nüfus nedir </a></li>
    <li><a href="#dist"> Nüfus Dağılımı </a></li>
    <li><a href="#world-dist"> Dünyadaki nüfus dağılımı </a> </li>
    <li><a href="#demographic"> Nüfus yaş dağılımı </a> </li>

</ul>
<div id="banner" class="banner">
    <h1>Nüfus ile ilgili Bilgiler</h1>
</div>
<div class="main-text">
<div id="info" class="text">
    <h2>Nüfus nedir?</h2>
    <p>
        Nüfus, bir bölgedeki canlı sayısına denir.
        Coğrafya biliminde ise nüfus, bir bölgedeki insan sayısına ve bu insanların özelliklerine denir.
        Nüfus kelimesi <a href="http://www.tdk.gov.tr/index.php">TDK tarafından</a> şöyle tanımlanmaktadır:
    </p>
    <div id="tanim">
        "Bir ülkede, bir bölgede, bir evde belirli bir anda yaşayanların oluşturduğu toplam sayı, popülasyon"
    </div><br />

    <h3>Nüfus sayımı</h3>
        <p>
            Nüfus sayımları, devletler tarafından ülkelerin nüfusunu belirlemek için yapılan sayımlardır.
            Bu sayımlarda nüfus sayısı yanında nüfusun eğitim seviyesi, dağılımı ve yaş özellikleri de belirlenir
        </p>
        <p>Ülkemizde nüfus sayımları, Türkiye İstatistik Kurumu (TÜİK) tarafından periyodik olarak yapılmaktadır.</p>
    <h3>Nüfus artışı</h3>
    <p>Nüfus artışı, bir bölge veya ülkedeki nüfusun değişmesidir.</p>
    <p>Bir yerdeki nüfus artışı; doğumlara, ölümlere, göçlere, sağlık ve beslenme olanaklarının artmasına bağlıdır. Bir yerde doğum oranı ölüm oranından fazla ise orada nüfus artışı var demektir. Nüfusun bu şekilde çoğalmasına Doğal Nüfus Artışı denir.
    </p>

</div>
<div id="dist" class="text">
    <h2>Nüfus dağılımı özellikleri</h2>
    <div id="world-dist">
        <h3>Dünyadaki nüfus dağılımı</h3>
    </div>
    <div id="demographic">
        <h3>Nüfus yaş dağılımı</h3>
    </div>
</div>
</div>
<button style="visibility: hidden">
    Go to the graphs
</button>
</body>
</html>