doctype html


html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    mixin navlink(content, link)
      li
        a(href="#{link}")= content

  body
    ul.navbar
      for navitem in navitems
        +navlink(navitem.content, navitem.link)
    a(href="/")
      .banner#banner
        h1 Nüfus ile ilgili Bilgiler
    .main-text
      block content
