doctype html


html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    mixin navlink(content, link)
      li
        a(href="#{link}")= content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/javascripts/scroll.js")

  body
    a(href="/")
      .banner#banner
        h1 Nüfus ile ilgili Bilgiler
    ul.navbar
      - if(title!="Nüfusla ilgili bilgiler") {
        +navlink("Başlangıca dön")
      - }
      for navitem in navitems
        +navlink(navitem.content, navitem.link)
    .main-text
      block content
